<!-- Services Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted" style='margin-bottom: 2em'>Enabling personalized cancer therapy.</h3>
                    <p style='margin-bottom: 2em'>
                        I grew up in a few different cities,
                        but mostly in <a href="https://vancouver.ca/">Vancouver, BC</a>.
                        When I’m not seeing patients or
                        <a href="{% post_url 2020-05-09-scientific-literature %}">keeping up with the scientific literature</a>,
                        you’ll find me tinkering with graphic design, <a href="{% post_url 2020-03-10-piano %}">playing music</a>,
                        biking around the city, listening to podcasts, shooting photos, and many more
                        things I feel obligated to do as a west coast millenial.
                    </p>
                </div>

            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-md fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Radiation Oncologist</h4>
                    <p class="text-muted">
                        <strong>Resident doctor</strong> at the University of Toronto,
                        specializing in <a href="https://www.radonc.utoronto.ca/">Radiation Oncology</a>.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Scientist</h4>
                    <p class="text-muted">
                        <strong>I love health, and I love data</strong>.
                        So I especially love studying how we can use data to improve health.
                        I’m basically a gene hacker - I use data science to uncover new
                        knowledge about the human cancer genome.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cancer Researcher</h4>
                    <p class="text-muted">
                    My <a href="{% post_url 2020-06-13-md-phd-graduation %}"><strong>PhD research</strong></a> happened at the
                        <a href="http://bcgsc.ca/">Michael Smith Genome Sciences Centre</a>.
                        I investigated how cancers (fail to) repair their DNA, and how
                        that could improve cancer treatment.
                    </p>
                </div>
            </div>
        </div>
    </section>
