
  {% include nav.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" style='text-shadow: 0px 0px 5px black'>
                <div class="intro-heading">Eric Zhao<span class="degrees">, MD, PhD</degrees></div>
                <div class="intro-lead-in">Cancer Doctor / Researcher / Data Scientist</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

