:root {
    font-size: 12pt;
}

@media(max-width:600px) {
    .intro-heading {
        font-size: 35px !important;
    }

    .degrees {
        font-size: 16pt !important;
    }

    .intro-lead-in {
        font-size: 13pt !important;
    }
}

.degrees {
    font-size: 36pt;
    font-weight: normal;
}

#contact p {
    color: #eee;
    font-size: 16pt;
}

#contact a {
    color: #6baed6;
}

#contact h3 {
    color: #ccc !important;
}

.contact-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
    border: 0px;
}

.navbar_post {
}

article {
    padding: 20px 50px;
}

article h2 {
    text-transform: none;
    font-size: 24pt;
}

article h3 {
    text-transform: none;
    font-size: 18pt;
}

.post-description {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

.post-excerpt {
    color: #aaa;
    font-size: 0.9rem;
}

.nav-logo {
    height: 60px;
}
